In [38]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv('housing.csv')

In [40]:
df.head()

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,sub_area,area_m,...,metro_min_walk,metro_km_walk,mkad_km,kremlin_km,green_part_1000,prom_part_1000,office_count_1000,trc_count_1000,leisure_count_1000,price_doc
0,38,18.0,1.0,14.0,panel,1971.0,1.0,9.0,Dmitrovskoe,7.126815e+06,...,27.084184,2.257015,2.442781,14.856442,17.16,10.33,2,4,0,5150000
1,41,17.0,14.0,16.0,panel,1978.0,1.0,10.0,Savelovskoe,2.641243e+06,...,13.719174,1.143264,11.528984,5.323699,0.90,39.48,17,3,0,5980000
2,41,20.0,11.0,14.0,panel,1989.0,1.0,8.0,Krjukovo,1.084231e+07,...,276.453594,23.037800,20.828299,38.988909,7.54,6.64,0,2,0,4600000
3,38,19.0,6.0,17.0,panel,1986.0,1.0,8.0,Brateevo,7.587523e+06,...,14.085660,1.173805,2.885041,14.921056,24.97,0.00,0,5,0,5650000
4,58,37.0,3.0,9.0,panel,1968.0,3.0,6.0,Novogireevo,4.395333e+06,...,5.455795,0.454650,1.920884,11.812614,3.46,5.41,0,4,4,9300000

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8894 entries, 0 to 8893
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   full_sq             8894 non-null   int64
 1   life_sq             8894 non-null   float64
 2   floor               8894 non-null   float64
 3   max_floor           8894 non-null   float64
 4   material            8894 non-null   object
 5   build_year          8859 non-null   float64
 6   num_room            8894 non-null   float64
 7   kitch_sq            8894 non-null   float64
 8   sub_area            8894 non-null   object
 9   area_m              8894 non-null   float64
 10  green_zone_part     8894 non-null   float64
 11  indust_part         8894 non-null   float64
 12  preschool           8894 non-null   int64
 13  school              8894 non-null   int64
 14  healthcare          8894 non-null   int64
 15  shopping            8894 non-null   int64
 16  office              8894 non-null   int64
 17  radiation           8894 non-null   object
 18  detention           8894 non-null   object
 19  young               8894 non-null   int64
 20  work                8894 non-null   int64
 21  elder               8894 non-null   int64
 22  0_6_age             8894 non-null   int64
 23  7_14_age            8894 non-null   int64
 24  metro_min_avto      8894 non-null   float64
 25  metro_km_avto       8894 non-null   float64
 26  metro_min_walk      8883 non-null   float64
 27  metro_km_walk       8883 non-null   float64
 28  mkad_km             8894 non-null   float64
 29  kremlin_km          8894 non-null   float64
 30  green_part_1000     8894 non-null   float64
 31  prom_part_1000      8894 non-null   float64
 32  office_count_1000   8894 non-null   int64
 33  trc_count_1000      8894 non-null   int64
 34  leisure_count_1000  8894 non-null   int64
 35  price_doc           8894 non-null   int64
dtypes: float64(17), int64(15), object(4)
memory usage: 2.4+ MB

In [42]:
df.isnull().sum()

full_sq                0
life_sq                0
floor                  0
max_floor              0
material               0
build_year            35
num_room               0
kitch_sq               0
sub_area               0
area_m                 0
green_zone_part        0
indust_part            0
preschool              0
school                 0
healthcare             0
shopping               0
office                 0
radiation              0
detention              0
young                  0
work                   0
elder                  0
0_6_age                0
7_14_age               0
metro_min_avto         0
metro_km_avto          0
metro_min_walk        11
metro_km_walk         11
mkad_km                0
kremlin_km             0
green_part_1000        0
prom_part_1000         0
office_count_1000      0
trc_count_1000         0
leisure_count_1000     0
price_doc              0
dtype: int64

In [43]:
d = df.duplicated().sum()
print(d)

42

In [44]:
df = df.drop_duplicates()

In [45]:
median_build_year = df['build_year'].median()
df['build_year'].fillna(median_build_year, inplace=True)

In [46]:
median_metro_min_walk = df['metro_min_walk'].median()
df['metro_min_walk'].fillna(median_metro_min_walk, inplace=True)

In [47]:
median_metro_km_walk = df['metro_km_walk'].median()
df['metro_km_walk'].fillna(median_metro_km_walk, inplace=True)

In [48]:
df.isnull().sum()

full_sq               0
life_sq               0
floor                 0
max_floor             0
material              0
build_year            0
num_room              0
kitch_sq              0
sub_area              0
area_m                0
green_zone_part       0
indust_part           0
preschool             0
school                0
healthcare            0
shopping              0
office                0
radiation             0
detention             0
young                 0
work                  0
elder                 0
0_6_age               0
7_14_age              0
metro_min_avto        0
metro_km_avto         0
metro_min_walk        0
metro_km_walk         0
mkad_km               0
kremlin_km            0
green_part_1000       0
prom_part_1000        0
office_count_1000     0
trc_count_1000        0
leisure_count_1000    0
price_doc             0
dtype: int64

In [49]:
df = pd.get_dummies(df, columns=['material', 'sub_area', 'radiation', 'detention'])

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8852 entries, 0 to 8893
Columns: 185 entries, full_sq to detention_yes
dtypes: float64(17), int64(15), uint8(153)
memory usage: 3.5 MB

In [51]:
df.head()

,full_sq,life_sq,floor,max_floor,build_year,num_room,kitch_sq,area_m,green_zone_part,indust_part,...,sub_area_Vostochnoe Izmajlovo,sub_area_Vyhino-Zhulebino,sub_area_Zamoskvorech'e,sub_area_Zapadnoe Degunino,sub_area_Zjablikovo,sub_area_Zjuzino,radiation_no,radiation_yes,detention_no,detention_yes
0,38,18.0,1.0,14.0,1971.0,1.0,9.0,7.126815e+06,0.125882,0.458174,...,0,0,0,0,0,0,1,0,1,0
1,41,17.0,14.0,16.0,1978.0,1.0,10.0,2.641243e+06,0.015900,0.051942,...,0,0,0,0,0,0,1,0,1,0
2,41,20.0,11.0,14.0,1989.0,1.0,8.0,1.084231e+07,0.062172,0.161532,...,0,0,0,0,0,0,1,0,1,0
3,38,19.0,6.0,17.0,1986.0,1.0,8.0,7.587523e+06,0.398794,0.000000,...,0,0,0,0,0,0,0,1,1,0
4,58,37.0,3.0,9.0,1968.0,3.0,6.0,4.395333e+06,0.063755,0.038693,...,0,0,0,0,0,0,0,1,1,0

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [53]:
X = df.drop(columns=['price_doc'])
y = df['price_doc']

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [55]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [56]:
y_pred = model.predict(X_test)

In [57]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [58]:
print("MSE:", mse)
print("R2:", r2)

MSE: 10475601716295.607
R2: 0.5865604187945548

Модель линейной регрессии, построенная на текущих данных, оказалось недостаточно точной для предсказания цены недвижимости